.modal-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 7, 7 ,.7);
    top: 0;
    z-index: 1021;
}

.modal-box{
    max-width: 80%;
   max-height: 80%;
   /* min-height: 40%; */
   border-radius:10px ;
   position: relative;
   background-color: white;
}
.modal-heading{
    height: 40px;
    background-color: var(--brand-green);
    color: white;
    border-radius: 10px 10px 0 0 ;
    padding-inline: 2rem;
    text-align: start;
    display: flex;
    align-items: center;
}
.modal-close-icon{
    position: absolute;
top: 0;
right: 0;
transform: translate(50%, -50%);
background-color:black;
border-radius: 50%;
z-index: 5;

}